<p style="color: green"><%= notice %></p>

<h1>Locations</h1>

<div>
  <% @daily_temperatures.each_with_index do |day_temps, index| %>
    <div>
      <p>Date: <%= day_temps.first['timestamp'] %></p>
      <p>Max Temperature: <%= @daily_max_temps[index] %>°C</p>
      <p>Min Temperature: <%= @daily_min_temps[index] %>°C</p>
    </div>
  <% end %>
</div>

<%= link_to "New location", new_location_path %>
