<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <h1>Weather Forecast For This Location</h1>
  <p>Address: <%= @address %></p>
  <% if @forecast && @forecast[:forecast] %>
    <ul>
      <% @forecast[:forecast].each do |forecast| %>
        <li>
          Date: <%= forecast[:date] %>,
          High: <%= forecast[:high] %>°C,
          Low: <%= forecast[:low] %>°C
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><%= @forecast[:error] %></p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
