<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <h1>Weather Forecast For This location</h1>
  <% if @forecast && @forecast['hourly'] && @forecast['hourly']['temperature_2m'] %>
    <ul>
      <% daily_data = @forecast['hourly']['temperature_2m'].each_slice(24).first(7) %>
      <% daily_data.each do |hourly_data| %>
        <% Rails.logger.info("hourly_data: #{hourly_data.inspect}") %>
        <li>
          <% if hourly_data.first.is_a?(String) %>
            <% date = hourly_data.first.split('T').first %>
            <% max_temp = hourly_data.max %>
            <% min_temp = hourly_data.min %>
            <% if date && max_temp && min_temp %>
              Date: <%= date %>,
              High: <%= max_temp %>°C,
              Low: <%= min_temp %>°C
            <% else %>
              <p>Weather data not available for this day.</p>
            <% end %>
          <% else %>
            <p>Weather data not available for this day.</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Could not retrieve weather forecast.</p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
