<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <h1>Weather Forecast For This Location</h1>
  <% if temperature['timestamp'] %>
  <li>
    Date: <%= temperature['timestamp'] %>,
    High: <%= temperature %>°C,
    Low: <%= temperature %>°C
  </li>
  <% else %>
  <li>
    <p>Weather data not available for this hour.</p>
  </li>
<% end %>
</div>


<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
