<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <% @daily_temperatures.each_with_index do |day_temps, index| %>
    <div>
      <p>Day <%= index + 1 %>: <%= DateTime.parse(day_temps.first['timestamp']).strftime('%Y-%m-%d') %></p>
      <p>Max Temperature: <%= @daily_max_temps[index] %>°C</p>
      <p>Min Temperature: <%= @daily_min_temps[index] %>°C</p>
    </div>
  <% end %>
</div>


<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
