<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <h1>Weather Forecast For This Location</h1>
  <% if @forecasts.any? %>
    <ul>
      <% @forecasts.each do |forecast| %>
        <li>
          Date: <%= forecast.date %>,
          High: <%= forecast.high_temperature %>°F,
          Low: <%= forecast.low_temperature %>°F
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No forecast data available for this location.</p>
  <% end %>
</div>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
