<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <h1>Weather Forecast For This location</h1>
  <% if @forecast && @forecast['hourly'] && @forecast['hourly']['temperature_2m'] %>
    <ul>
      <% @forecast['hourly']['temperature_2m'].each do |hourly_data| %>
        <li>
          Date: <%= hourly_data['timestamp'] %>,
          <% if hourly_data['air_temperature'] && hourly_data['air_temperature']['values'].is_a?(Array) %>
            High: <%= hourly_data['air_temperature']['values'][0]['value'] %>°C,
            Low: <%= hourly_data['air_temperature']['values'][1]['value'] %>°C
          <% else %>
            <p>Temperature data not available.</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Could not retrieve weather forecast.</p>
  <% end %>
</div>


<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>

  <%= button_to "Destroy this location", @location, method: :delete %>
</div>
